<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/01.css">
    <script src="01.js"></script>
</head>
<body>
    <!--导航栏-->
    <div id="wrap">
        <!--logo-->
        <div id="out">
            <div id="logo">
                <a href="">
                    <img src="images/head-logo.png" alt="">
                </a>
            </div>

            <!--首页-->
            <div id="title1" class="title">
                <a href="">首页</a>
            </div>
            <div id="title2" class="title">
                <a href="">阅读</a>
            </div>
            <div id="title3" class="title">
                <a href="">电台</a>
            </div>
            <div id="title4" class="title">
                <a href="">碎片</a>
            </div>
            <div id="title5" class="title">
                <a href="">客户端</a>
            </div>

            <!--右侧登录注册-->
            <div id="huabi">
                <a href="">
                    <img src="images/4884FDE9DE9610B940E2BA7FD943954E.jpg" alt="">
                </a>
            </div>

            <div id="login">
                <a href="">登录&nbsp/&nbsp注册</a>
            </div>
        </div>

    </div>

    <!--图片-->
    <div id="image">
        <div id="div1" class="scale">
            <a href="">
                <img src="images/10ec7bfffb06c90f7d36421df5afaebf20170321.jpg" alt="">
            </a>
            <div id="text">
                <div></div>
                <p>
                    <a href="">
                        这样锻炼,你才会掌握说话...
                    </a>
                </p>
            </div>
        </div>

        <div id="div2" class="scale">
            <a href="">
                <img src="images/b7ba659ac441c3996e12be395ba61bcb20170501.jpg" alt="">
            </a>
            <div class="content">
                <div></div>
                <p>
                    <a href="">有社交恐惧症的你,该怎么办?</a>
                </p>
            </div>
        </div>

        <div id="div3" class="scale">
            <a href="">
                <img src="images/fdb9e3529e71d35abc1b574005b1e35a20170508.jpg" alt="">
            </a>
            <div class="content">
                <div></div>
                <p>
                    <a href="">怎样找到自己真正想做的事?</a>
                </p>
            </div>
        </div>
        
        <div id="div4" class="scale">
            <a href="">
                <img src="images/4b9cabfe7bdaef3757ce818f1617776020170509.jpg" alt="">
            </a>
            <div class="content">
                <div></div>
                <p>
                    <a href="">坚持写手账135天,生活发生了哪些改变</a>
                </p>
            </div>
        </div>
        
        <div id="div5" class="scale">
            <a href="">
                <img src="images/d261c1e53975eca13bb0f6ac83f62a4a20170225.jpg" alt="">
            </a>
            <div class="content">
                <div></div>
                <p>
                    <a href="">外公的两条命</a>
                </p>
            </div>
        </div>
    </div>
    <!--中间内容-->
    <div id="middle-content">
        <!--阅读-->
        <div id="black">

        </div>
        <div id="read">
            阅读&nbsp|&nbspRead
        </div>

        <!--礼物-->
        <div class="present">
            <div class="introduce">
                <div class="introduce-title">
                    <a href="">礼物</a>
                </div>
                <p class="author">
                    <a href="">By&nbsp/&nbspWhale小诺</a>
                </p>
                <!--横线-->
                <div class="henggang"></div>
                <!--段落-->
                <div class="paragraph">
                    “唯有爱是这世界最好的礼物❤。” 1 林雪颜从便利店走出来时，整条街的霓虹都在我眼里晕成了一个个彩色的光点，我扔掉了伞，淋着雨，一步步坚定的向她走&nbsp&nbsp
                    <a href="">VIEW ALL</a>
                    <img src="images/viewall.png" alt="">
                </div>

                <div class="review">
                    310次阅读  |  评论5  |  喜欢15
                </div>
            </div>
            
            <div class="picture">
                <img src="images/39cc7e08994932e9d42c0712b5447ec220170727.jpg" alt="">
            </div>
        </div>

        <!--三道记忆力测试题-->
        <div class="present">
            <div class="introduce">
                <!--标题-->
                <div class="introduce-title">
                    <a href="">三道记忆力测试题</a>
                </div>
                <!--作者-->
                <p class="author">
                    <a href="">By&nbsp/&nbsp阿帆哒</a>
                </p>

                <!--横线-->
                <div class="henggang"></div>

                <!--段落-->
                <div class="paragraph">
                    此篇为：《六年前的一桩诡异凶杀案9：记忆大师》 侦探大象人设：嗅觉超人 哑巴常理先将绳子系在十米高的树干上，在脖子套绳圈，往下跳，自身重力把颈椎扯断&nbsp&nbsp
                    <a href="">VIEW ALL</a>
                    <img src="images/viewall.png" alt="">
                </div>
                
                <!--评论-->
                <div class="review">
                    701次阅读  |  评论12  |  喜欢92
                </div>
            </div>

            <div class="picture">
                <img src="images/9ad1e2ef87553f27f50780254e11040b20170724.jpeg" alt="">
            </div>
        </div>

        <!--跑步,爱情-->
        <div class="present">
            <div class="introduce">
                <!--标题-->
                <div class="introduce-title">
                    <a href="">当我谈跑步时,我在谈爱情</a>
                </div>

                <!--作者-->
                <p class="author">
                    <a href="">By&nbsp/&nbsp阿帆哒</a>
                </p>
                <!--横线-->
                <div class="henggang"></div>

                <!--段落-->
                <div class="paragraph">
                    我辞职的理由是回家。在北京，平均跳槽时间是一年半，在所有辞职理由中，不到百分之二十是真实的。我在这家创业公司做了两年，职位是设计师，老板待我很好。&nbsp&nbsp
                    <a href="">VIEW ALL</a>
                    <img src="images/viewall.png" alt="">
                </div>

                <!--评论-->
                <div class="review">
                    1.9k次阅读  |  评论43  |  喜欢599
                </div>
            </div>
            
            <div class="picture">
                <img src="images/b963239b505140283a6cd87275ecbb8520170720.gif" alt="">
            </div>
        </div>
    </div>
    <!--TING-->
    <div id="ting-content">
        <div id="ting-title">
            <div id="ting-black">

            </div>
            <p>TING</p>
        </div>

        <div id="ting-matter">
            <!--第一张-->
            <div class="ting-tupian" id="first">
                <!--图片-->
                <div class="tutu">
                    <img src="images/把悲伤留给自己.jpg" alt="">

                    <!--蒙版-->
                    <div class="mark"></div>

                    <!--播放标志-->
                    <div class="play"></div>
                    <div class="action"></div>
                </div>
                <!--曲牌名-->
                <p class="song">
                    <a href="">把悲伤留给自己</a>
                </p>

                <!--主播-->
                <p class="singer">
                    <a href="">主播 / TingK</a>
                </p>

                <!--播放次数-->
                <div class="play-count">
                    73.1k播放 | 评论:77 | 喜欢:645
                </div>
            </div>
            <!--第二张-->
            <div class="ting-tupian" id="second">
                <!--图片-->
                <div class="tutu">
                    <img src="images/笑容.jpg" alt="">

                    <!--蒙版-->
                    <div class="mark"></div>
                    <!--播放标志-->
                    <div class="play"></div>
                    <div class="action"></div>
                </div>
                <!--曲牌名-->
                <p class="song">
                    <a href="">「笑容」弹唱同期版</a>
                </p>

                <!--主播-->
                <p class="singer">
                    <a href="">主播 / 丁源</a>
                </p>

                <!--播放次数-->
                <div class="play-count">
                    14.9k播放 | 评论:41 | 喜欢:305
                </div>
            </div>

            <!--第三张-->
            <div class="ting-tupian" id="thirdly">
                <!--图片-->
                <div class="tutu">
                    <img src="images/流夏.jpg" alt="">
                    <!--蒙版-->
                    <div class="mark"></div>

                    <!--播放标志-->
                    <div class="play">

                    </div>
                    <div class="action">

                    </div>
                </div>
                <!--曲牌名-->
                <p class="song">
                    <a href="">流夏 | 留下吧</a>
                </p>

                <!--主播-->
                <div class="singer">
                    <a href="">主播 / 粟先生</a>
                </div>


                <!--播放次数-->
                <div class="play-count">
                    46.2k播放 | 评论:55 | 喜欢:615
                </div>
            </div>
        </div>
    </div>

    <!--人气片客-->
    <div id="hot-pianker">
        <div id="hot-title">
            <div id="hot-black"></div>
            <p>人气片客 | Hot Pianker</p>
        </div>

        <div id="ranking">
            <div class="ranking-list" id="rank1">
                <img src="images/user-bg.png" alt="">
                <div class="music">
                    <img src="images/音乐人.png" alt="">
                </div>
                <!--主播-->
                <div class="anchor">
                    <img src="images/4cca2c8e44c978c11697d580db691bb220170209.jpeg" alt="">
                </div>

                <!--简介-->
                <div class="intro">
                    <p class="geshou">
                        <a href="">王睿 Ray</a>
                    </p>
                    <div></div>
                    <p>流行歌手王睿</p>
                </div>
            </div>

            <div class="ranking-list" id="rank2">
                <img src="images/user-bg.png" alt="">

                <div class="music">
                    <img src="images/音乐人.png" alt="">
                </div>
                <!--主播-->
                <div class="anchor">
                    <img src="images/9a7018ced880d6f925b02b91934c9f1520170726.jpeg" alt="">
                </div>

                <!--简介-->
                <div class="intro">
                    <p class="geshou">
                        <a href="">陆深兽</a>
                    </p>
                    <div></div>
                    <p>片刻翻唱达人</p>
                    <p>陆深深</p>
                </div>
            </div>

            <div class="ranking-list" id="rank3">
                <img src="images/user-bg.png" alt="">

                <div class="music">
                    <img src="images/音乐人.png" alt="">
                </div>
                <!--主播-->
                <div class="anchor">
                    <img src="images/8b29dc859b74cb196f7b071ab94470d820170126.jpg" alt="">
                </div>

                <!--简介-->
                <div class="intro">
                    <p class="geshou">
                        <a href="">阿见</a>
                    </p>
                    <div></div>
                    <p>独立音乐人</p>
                    <p>电台主持人</p>
                </div>
            </div>

            <div class="ranking-list" id="rank4">
                <img src="images/user-bg.png" alt="">

                <div class="music">
                    <img src="images/音乐人.png" alt="">
                </div>
                <!--主播-->
                <div class="anchor">
                    <img src="images/a8688a423d9d55a9db48d0d5298a594d20170601.jpeg" alt="">
                </div>

                <!--简介-->
                <div class="intro">
                    <p class="geshou">
                        <a href="">贤菌</a>
                    </p>
                    <div></div>
                    <p>靠脸吃饭,臭</p>
                    <p>不要脸</p>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
</body>
</html>